<app-toolbar [titulo]= "'Prueba'">
</app-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list>
            <mat-list-item> <a routerLink="/home"> <button mat-raised-button color="primary">Home</button></a></mat-list-item>
            <mat-list-item> <a routerLink="/about"><button mat-raised-button color="primary">About</button></a></mat-list-item>
            <mat-list-item> <a routerLink="/contact"><button mat-raised-button color="primary">Contact</button></a></mat-list-item>
           </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
        </mat-drawer-content>
  </mat-drawer-container>
